* {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 5rem);
}

.chat-thread {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: calc(100% - 4rem);
}

.chat-input-area {
    display: flex;
    padding: 3rem;
    flex-direction: row;
    gap: 1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: sticky;
    width: 100%;
    border-top: solid 1px gray;
    margin-top: auto;

    &.dark {
        background-color: #121212;
    }
}
